@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wave {
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s linear infinite;
}

